img {
	border: none;
}

a {
	text-decoration: none;
	outline: none;
	color: #0000EE;
}

a:visited {
	text-decoration: none;
	outline: none;
	color: #0000EE;
}

a:hover {
	text-decoration:underline;
}


input, textarea {
	outline: none;
}

textarea { 
	resize: none;
	overflow: auto; 
}

body {
	padding: 0;
	margin: 0;
	background: #f8f8f8 url(../images/bg.gif) repeat-x;
	font-family: Tahoma,Geneva,sans-serif;
	color: #444444;
	font-size: 12px;
	position:relative;
	overflow:visible;
}

.clear {
	clear: both;
}

input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner
{   
    border : 0px;
}


